/* |||||||||||||||||||||||||||||||||||Mobile First||||||||||||||||||||||||||||||||||||| */

@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Doto:wght@100..900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&family=Kumbh+Sans:wght@100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                 Global Variables                                   */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
:root {
  /* Primary Colors */
  --gold-500: hsl(39, 89%, 49%);
  --gold-600: hsl(28, 76%, 44%);
  --blue-500: hsl(230, 89%, 62%);
  --blue-700: hsl(229, 64%, 46%);
  --red-600: hsl(349, 71%, 52%);
  --red-800: hsl(347, 75%, 35%);
  --purple-600: hsl(261, 73%, 60%);
  --purple-700: hsl(261, 51%, 44%);
  --light-blue-400: hsl(189, 59%, 53%);
  --light-blue-500: hsl(194, 58%, 42%);

  /* Neutral Colors */
  --navy-900: hsl(229, 25%, 31%);
  --blue-700: hsl(229, 64%, 46%);
  --gray-600: hsl(246, 11%, 37%);

  /*  Background  */
  --gradient-radial: radial-gradient(
    circle,
    hsl(214, 47%, 23%),
    hsl(237, 48%, 15%)
  );
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                  Global Settings                                   */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

* {
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
  user-select: none;
}

body {
  margin: 0;
  background: var(--gradient-radial);
  display: flex;
  height: 100dvh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  overflow: hidden;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                   Main Content                                     */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

header {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0.8rem;
  position: absolute;
  top: 1rem;
  width: 90vw;
  border: 0.2em solid var(--gray-600);
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

#leftScoreDiv {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
  font-size: 2rem;
  line-height: 0.8;
}

#leftScoreDiv span:nth-child(1) {
  color: var(--blue-500);
}

#leftScoreDiv span:nth-child(2) {
  color: var(--gold-500);
}

#leftScoreDiv span:nth-child(3) {
  color: var(--red-600);
}

#leftScoreDiv span:nth-child(4) {
  color: var(--purple-600);
}

#leftScoreDiv span:nth-child(5) {
  color: var(--light-blue-400);
}

/* Toggle styling for the Lizard and Spock Span */
.lsSpan{
  display: none;
}

.lsSpan.active{
  display: flex;
}

#rightScoreDiv {
  justify-content: space-evenly;
  text-align: center;
  display: flex;
  min-height: initial;
  flex-direction: column;
  background: white;
  color: var(--navy-900);
  border-radius: 0.3rem;
  padding: 0.5em;
  line-height: 1;
  height: auto;
}

#rightScoreDiv p {
  margin: 0;
}

#rightScoreDiv span {
  font-size: 3rem;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                   First Section                                    */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#beforeWrapper {
  display: grid;
  grid-template-areas:
    "blueBtn yellowBtn"
    "redBtn redBtn";
  grid-template-rows: 1fr 1fr;
  place-items: center;
  background-image: url(./images/bg-triangle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  transition: all 1s ease;
  opacity: 0;
}

#bonusBeforeWrapper {
  display: none;
  grid-template-areas:
    "yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn"
    "cyanBtn cyanBtn cyanBtn cyanBtn shadow shadow blueBtn blueBtn blueBtn blueBtn"
    "purpleBtn purpleBtn purpleBtn purpleBtn purpleBtn redBtn redBtn redBtn redBtn redBtn";
  grid-template-rows: 12vh 18vh 15vh;
  grid-template-columns: 1rem 1rem 1rem 1rem 5rem 5rem 1rem 1rem 1rem 1rem;
  align-content: center;
  justify-items: center;
  background-image: url(./images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 70%;
  background-size: 100%;
  transition: all 1s ease;
  opacity: 0;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                     Buttons                                        */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  margin-inline: 1rem;
  margin-bottom: 1rem;
}

.shadow{
  visibility: hidden;
  justify-content: center;
  align-items: center;
  width: 4rem;
  border-radius: 50%;
  margin-inline: 1rem;
  margin-bottom: 1rem;
  grid-area: shadow;
}

.innerButton {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: none;
  border-bottom: 0.4rem solid rgb(201, 201, 201);
  cursor: pointer;
}

.innerButton:active {
  border-top: 0.4rem solid rgb(201, 201, 201);
  border-bottom: none;
}

.innerButtonBonus {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border: none;
  border-bottom: 0.4rem solid rgb(201, 201, 201);
  cursor: pointer;
}

.innerButtonBonus:active {
  border-top: 0.4rem solid rgb(201, 201, 201);
  border-bottom: none;
}

.blue {
  grid-area: blueBtn;
  background-color: var(--blue-500);
  border-bottom: 0.4rem solid var(--blue-700);
}

.yellow {
  grid-area: yellowBtn;
  background-color: var(--gold-500);
  border-bottom: 0.4rem solid var(--gold-600);
}

.red {
  grid-area: redBtn;
  background-color: var(--red-600);
  border-bottom: 0.4rem solid var(--red-800);
}

.purple {
  grid-area: purpleBtn;
  background-color: var(--purple-600);
  border-bottom: 0.4rem solid var(--purple-700);
}

.cyan {
  grid-area: cyanBtn;
  background-color: var(--light-blue-400);
  border-bottom: 0.4rem solid var(--light-blue-500);
}

.paper {
  background-image: url(./images/icon-paper.svg);
  background-size: contain;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.scissor {
  background-image: url(./images/icon-scissors.svg);
  background-size: contain;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.rock {
  background-image: url(./images/icon-rock.svg);
  background-size: contain;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.lizard {
  background-image: url(./images/icon-lizard.svg);
  background-size: contain;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.spock {
  background-image: url(./images/icon-spock.svg);
  background-size: contain;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                  Second Section                                    */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#afterWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;
  display: none;
  flex-direction: column;
  align-items: center;
}

.afterBtnWrapper {
  display: flex;
}

#afterWrapperLower {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  position: relative;
  bottom: -5em;
}

#afterWrapperLower span {
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

#playAgainBtn {
  width: 50vw;
  padding: 0.6rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2rem;
  border: 0;
  border-radius: 0.3rem;
  border-bottom: 0.2rem solid rgb(101, 101, 101);
}

#playAgainBtn:hover {
  background-color: rgb(190, 190, 190);
}

#playAgainBtn:active {
  border-bottom: none;
}

.result {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pickSpan {
  text-transform: uppercase;
  letter-spacing: 5%;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                    Rules Div                                       */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

#rules {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  width: 8rem;
  border: 0.1rem solid;
  font-size: 1.2rem;
  text-transform: uppercase;
  border-radius: 0.6rem;
  cursor: pointer;
  position: absolute;
  bottom: 4rem;
}

#rulesOpen {
  background-image: url(./images/image-rules.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 85vw;
  height: 85vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#rulesOpen.active {
  display: flex;
}

/* prevent clicking on the result screen */
.rBtn {
  pointer-events: none;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                      Footer                                        */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

footer {
  display: flex;
  justify-content: center;
}

.attribution {
  position: absolute;
  bottom: 0.5rem;
  font-size: 11px;
  text-align: center;
  color: var(--light-blue-500);
}
.attribution a {
  color: var(--gold-600);
  text-decoration: none;
}

/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
/*                                      Desktop                                       */
/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

@media (min-width: 450px) {
  header {
    max-width: 60dvw;
    top: 3rem;
    padding: 1.2rem;
    border-radius: 1rem;
  }

  #leftScoreDiv {
    font-size: 2.5rem;
    padding: 0;
  }

  #rightScoreDiv {
    width: 8rem;
    border-radius: 0.5rem;
    padding: 1em;
    line-height: 1;
  }

  #beforeWrapper {
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
  }

  #bonusBeforeWrapper {
  display: none;
  grid-template-areas:
    "yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn yellowBtn"
    "cyanBtn cyanBtn cyanBtn cyanBtn shadow shadow blueBtn blueBtn blueBtn blueBtn"
    "purpleBtn purpleBtn purpleBtn purpleBtn purpleBtn redBtn redBtn redBtn redBtn redBtn";
  grid-template-rows: 10rem 15rem 15rem;
  grid-template-columns: 1rem 1rem 1rem 1rem 10rem 10rem 1rem 1rem 1rem 1rem;
  align-content: center;
  justify-items: center;
  background-image: url(./images/bg-pentagon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all 1s ease;
  opacity: 0;
  transform: scale(0.8);
}

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-inline: 1rem;
    margin-bottom: 1rem;
  }

  .innerButton {
    height: 9rem;
    width: 9rem;
  }

  .innerButtonBonus {
    height: 9rem;
    width: 9rem;
  }

  #afterWrapper {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    transition: all 1s ease;
    display: flex;
  }

  .pickSpan {
    font-size: 2rem;
  }

  .afterBtnWrapper {
    gap: 30vw;
  }

  .afterBtnWrapper .button {
    height: 16rem;
    width: 16rem;
  }

  .afterBtnWrapper .innerButton {
    height: 13rem;
    width: 13rem;
  }

  #afterWrapperLower {
    position: absolute;
    top: 20vh;
  }

  .result {
    display: flex;
    gap: 3rem;
    flex-direction: column-reverse;
  }

  #playAgainBtn {
    width: 15vw;
    letter-spacing: 10%;
    height: 3.5rem;
  }

  #rules {
    right: 5vh;
    bottom: 5vh;
  }

  #rulesOpen{
    height: 60vh;
    width: 60vh;
    top: 60%;
  }

}
